@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 120px;
    background-image: url(image/viktor-forgacs-0JokpSkuBeU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.Container {
    margin: 0 15px;
}

.form-box {
display: flex;
width: 200%;
max-width: 450px;
padding: 30px;
background-color:  #000000 ;
border-radius: 10px;
box-shadow: 0 0 10px rgb(255, 0, 255);
}
.form-box2{
    
width: 200%;
max-width: 450px;
padding: 30px;
background-color:  #000000 ;
border-radius: 10px;
box-shadow: 0 0 10px rgb(255, 0, 255);
}
h1{
    text-align: center;
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input  , select {
    
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    
   
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-wrapper input {
    flex: 1;
    padding-right: 40px; 
  }
  
  .password-wrapper img {
    position: absolute;
    
    right: 12px;
    margin-bottom: 20px;
    width: 24px;
    cursor: pointer;
  }

   p2{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
  
button{

    width: 100%;
    padding: 12px;
    background: #FF2929;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0,5s;
}
button:hover{
    background: #a3afab ;
    transition: 0.5ms;

}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
p a{
    color: #b2372e;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
    background: #a3afab ;
}
.ad{
    
    
    width: 229px; 
}

.ad img{
  width: 100%;
  height: 100%;
  object-fit: fill;   
}